.app_form-header {
    background-color: forestgreen;
}

.app__form {
    display:flex;
    align-items: center;
    justify-content: center;
    
    @media screen and (max-width: 400px) {
        width: 100%        
    }
}

.app__form-item {
    padding: 1rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

Input{
    line-height: 20px;
}

.app__form-select {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: large;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
    background-color: white;
}

.app__form-button {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }
}
